<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>

    <div>
        Name : @ViewBag.User.Name    </div>
    <div>
        Email : @ViewBag.User.Email
    </div>
    <div>
        ID : @ViewBag.User.ID
    </div>
</body>
</html>