@model IEnumerable<User>

@{
    ViewBag.Title = "ユーザー情報";
}

    <div class="card-deck">
        @foreach (var user in Model)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h3>@user.Name</h3>
                </div>
                <img width="300" class="card-img-top" src="~/img/cat.png" asp-append-version="true" />
                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="staticview" asp-route-id="@user.ID" class="btn btn-primary m-1">View</a>
                    <a href="#" class="btn btn-primary m-1">Edit</a>
                    <a href="#" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }
    </div>
